

.mangodo-container-wrap{
    width:100%;
    height:100%;
}

.mangodo-node-body{
    cursor: move;
    fill:white;
    stroke-width: 2;
    stroke: #666 !important;
}
.mangodo-node-body-selected{
    stroke-width: 2;
    stroke: #ff7f0e !important;
}



.mangodo-grid line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #eee;
    stroke-width: 1px;
}

.mangodo-node-text {
    stroke: #333;
    text-anchor: middle;
    dominant-baseline:middle;
    font-size: 14px;
    pointer-events: none;
    font-weight: 100;;
}

.cahrt-node-port {
    stroke: #999;
    stroke-width: 1;
    fill: #d9d9d9;
    cursor: crosshair;
}
.cahrt-node-port:hover {
    stroke-width: 2;
    stroke: #ff7f0e !important;
}
.cahrt-node-port-selected{
    stroke-width: 2;
    stroke: #ff7f0e !important;
}


.mangodo-link-line{
    stroke: #999;
    stroke-width: 3;
    fill: none;
    pointer-events: none;
}
.mangodo-link-background{
    stroke: transparent;
    stroke-width: 10;
    fill: none;
}
.mangodo-link-line-selected{
    stroke:orange
}

.manodo-view-wrap{
    width: 100%;
    height: 100%;
    overflow: auto;
}